<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

style        
    include header.css

nav#header 
    h1#title Elimsnow
    
    a.tab(href="/" id="homeTab") Home 
    a.tab About 
    a.tab(href="/generalMathWS") Math Worksheets 
    a.tab(href="/contact") Contact Us 
    a.tab(href="/wb-correct-selector")  Check
    a.tab(href="/workbooks" class="last-header") Products
    <a id="cart-icon" href="/cart"><i id="cart-icon" class="fa fa-shopping-cart"></i></a>
    <i id="menuIcon" class="fa fa-bars" onclick="toggleMenu()"></i>

    

script
    include ../public/header.js

    