style
            
    include header.css
#header 
    h1#title Elimsnow
    a(href="/") Home 
    a About 
    a(href="/generalMathWS") Math Worksheets 
    a Hoc Tieng Anh 
    a Contact Us 
    a(href="/wb-correct-selector")  Check
    a(href="/workbooks") Purchase
    