doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title About Us
        <link href='https://fonts.googleapis.com/css?family=Cardo:400,700|Oswald' rel='stylesheet' type='text/css'>
        style
            include ../public/header.css
    body
        include ../partials/header
        
        #sect1 
            #about-visual-container
                img#about-image(src="https://freesvg.org/img/darla.png")
                #about-img-text

        #sect2
            #pt1
                .pt-title
                .pt-icon
                .pt-text
            #pt2
                .pt-title
                .pt-icon
                .pt-text
            #pt3
                .pt-title
                .pt-icon
                .pt-text

            #pt4
                .pt-title
                .pt-icon
                .pt-text
            #pt5
                .pt-title
                .pt-icon
                .pt-text
            #pt6
                .pt-title
                .pt-icon
                .pt-text
            

        #sect3
            #about-text1 
            #about-text2