doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title About Us
        <link href='https://fonts.googleapis.com/css?family=Cardo:400,700|Oswald' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Varela+Round" />
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

        style
            include ../public/header.css
            include ../public/about.css
            include ../public/footer.css
    header
        include ../partials/header
    body
        
        #sect1 
            #about-visual-container
                img#about-image(data-aos="fade" src="https://www.clipartmax.com/png/full/71-713653_cartoon-school-buses-bus-drawing-for-kids-step-by-step.png")
                #about-img-text(data-aos="fade") Lorem ipsum dolor sit amet consectetur adipisicing elit.

        #sect2
            .pt
                img.pt-icon(data-aos="fade-up" data-aos-offset=200 src="https://upload.wikimedia.org/wikipedia/commons/d/de/Gear-icon.png") 
                .pt-title(data-aos="fade-up" data-aos-offset=205) Confidence
                .pt-text(data-aos="fade-up" data-aos-offset=210) Gain the confidence to solve complex math problems on one’s own by utilizing focused worksheets to master essential math concepts.
            
            .pt
                img.pt-icon(data-aos="fade-up" data-aos-offset=200 src="https://upload.wikimedia.org/wikipedia/commons/d/de/Gear-icon.png") 
                .pt-title(data-aos="fade-up" data-aos-offset=205) Confidence
                .pt-text(data-aos="fade-up" data-aos-offset=210) Gain the confidence to solve complex math problems on one’s own by utilizing focused worksheets to master essential math concepts.
            
            .pt
                img.pt-icon(data-aos="fade-up" data-aos-offset=200 src="https://upload.wikimedia.org/wikipedia/commons/d/de/Gear-icon.png") 
                .pt-title(data-aos="fade-up" data-aos-offset=205) Confidence
                .pt-text(data-aos="fade-up" data-aos-offset=210) Gain the confidence to solve complex math problems on one’s own by utilizing focused worksheets to master essential math concepts.
                
            .pt
                img.pt-icon(data-aos="fade-up" data-aos-offset=200 src="https://upload.wikimedia.org/wikipedia/commons/d/de/Gear-icon.png") 
                .pt-title(data-aos="fade-up" data-aos-offset=205) Confidence
                .pt-text(data-aos="fade-up" data-aos-offset=210) Gain the confidence to solve complex math problems on one’s own by utilizing focused worksheets to master essential math concepts.
            
            .pt
                img.pt-icon(data-aos="fade-up" data-aos-offset=200 src="https://upload.wikimedia.org/wikipedia/commons/d/de/Gear-icon.png") 
                .pt-title(data-aos="fade-up" data-aos-offset=205) Confidence
                .pt-text(data-aos="fade-up" data-aos-offset=210) Gain the confidence to solve complex math problems on one’s own by utilizing focused worksheets to master essential math concepts.

            .pt
                img.pt-icon(data-aos="fade-up" data-aos-offset=200 src="https://upload.wikimedia.org/wikipedia/commons/d/de/Gear-icon.png") 
                .pt-title(data-aos="fade-up" data-aos-offset=205) Confidence
                .pt-text(data-aos="fade-up" data-aos-offset=210) Gain the confidence to solve complex math problems on one’s own by utilizing focused worksheets to master essential math concepts.
        #sect3
            #about-text1(data-aos="fade-right" data-aos-offset=300) What does a block pyramid do when there are missing blocks? It falls. 
                Math is a very important field as it is also applied in other fields of studies and work. However, very little time is put in for it during a school day, and rarely is enough teacher support given.
                We provide free worksheets tailored to the Ontario Math Curriculum to make sure that students fill in and strengthen those missing blocks, allowing them to rise to whatever dreams/path they wish for.
 
            #about-text2(data-aos="fade-left" data-aos-offset=300) Elimsnow is empowered by people who care and are passionate about education, specifically Math. We believe that with the right materials and mindset, students can take away all the stress that is commonly associated with math, and feel confident enough to use math as the powerful tool it is, to unlock ambitious goals and dreams, and make them a reality.

    footer    
        include ../partials/footer

    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    script.
        AOS.init({duration: 1000});   