doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Admin Home
        style 
            include ../public/admin.css
    body 
        a(href="/admin/createWorksheet") Create a New WorkSheet
        br
        a(href="/admin/editWS") Alter a Worksheet
        br
        br
        br
        a(href="/admin/createProduct") Create a product 
        br
        a(href="/admin/editPD") Alter a product 
        br
        a(href="") Delete a product  

        br
        br
        a(href="/admin/loadWS") Load in Worksheets

        br
        br
        a#logs(href="/admin/log") See the logs 