doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Contact Page
        <link href='https://fonts.googleapis.com/css?family=Cardo:400,700|Oswald' rel='stylesheet' type='text/css'>
        style
            include ../public/header.css
            include ../public/contact.css
            include ../public/footer.css
    body
        include ../partials/header
        h1#contact-title Talk to Us!
        <form id="contactForm" action="https://formsubmit.co/dailydosesofdonuts@gmail.com" method="POST">
            #contact-container-1
                input(type="text" name="name" placeholder="Name")

                input.middle(type="text" name="email" placeholder="Your Email") 

                input(type="text" name="_subject" placeholder="Subject")
            textarea(type="text" name="message" rows="10" cols="50" placeholder="Type your message here")

            button#send-button(type="submit") Send Email
        
        
        </form>
        include ../partials/footer



        