doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        <link href='https://fonts.googleapis.com/css?family=Cardo:400,700|Oswald' rel='stylesheet' type='text/css'>
        <link rel="stylesheet", href="https://fonts.googleapis.com/css?family=Quicksand:300,500" type="text/css">
        style
            
            include ../public/header.css
            include ../public/mathWSGeneral.css
    body 
        include ../partials/header
        include ../partials/searchBar

        #grades 
            a(href="/gradePage/1") Grade 1
            a(href="/gradePage/2") Grade 2
            a(href="/gradePage/3") Grade 3
            a(href="/gradePage/4") Grade 4
            a(href="/gradePage/5") Grade 5
            a(href="/gradePage/6") Grade 6
        
        #wb 
            p buy this math wb!
            <a href="https://google.com"><img src="https://i.ibb.co/0XpRyfy/before-first-uni-exam-422.jpg" alt="before-first-uni-exam-422" border="0"></a><br /><a target='_blank' href='https://usefulwebtool.com/'></a><br />
        script 
            include ../public/gettingWorksheets.js


        