

body {
    font-family: "Varela Round", sans-serif;
}

#info-ws {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    margin: 0 auto;
    
}

#text-info {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;

}




#previewImg {
    max-width: 250px;
    object-fit: contain;
    border: 1px solid black;
    margin: 2em;
}

#description {
    margin: 1em;
    height: fit-content;
    
}

#but-number {
    background-color: #9b5de5;
}

#but-algebra {
    background-color: #f15bb5;
}

#but-data {
    background-color: #fee440;
}

#but-spatial {
    background-color: #00bbf9;
}

#but-finance {
    background-color: #00f5d4;
}

#info-ws-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 40%;
    margin: 0 auto;
    justify-content: center;
    padding: 1.5em 0;
    margin-bottom: 10em;
}

#info-ws-buttons > a {
    text-decoration: none;
    color: white;
    width: 10em; 
    text-align: center;   
    margin: 0.2em;
    padding: 1em 0.4em;
}



/*do the following hover color effect for the rest of the sections later^*/

#but-number:hover {
    background-color: #8953cc;
}

#but-algebra:hover{
    background-color: #e23b9f;
}

#but-data:hover {
    background-color: #d3bd32;
}

#but-spatial:hover {
    background-color: #039bce;
}

#but-finance:hover {
    background-color: #03d8bc;
}






@media screen and (max-width: 769px) {
    #previewImg {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    #text-info {
        width: 90%;
        font-size: 4vw;
        text-align: center;
    }

    #info-ws-buttons {
        width: 60%;
    }

    #info-ws-buttons > a {
        flex: 1;
    }
}