
body {
    font-family: 'Roboto', 'Varela Round', sans-serif;
}


#cartHeading {
    margin-top: 2em;
    text-align: center;
    font-size: 1.8em;
}

#cart-info{
    padding-top: 2em;
    display: flex;
    flex-direction: row;
    width: 70%;
    margin: 0 auto;
}


#cart-items {
    flex: 3;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin-right: 1em;
    height: fit-content;
}


#total-discount {
    flex: 1.5;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    height: fit-content;
    padding: 1em;
}


#total {
    flex: 3;
    border-bottom: 1px rgb(196, 196, 196) solid;
    margin-bottom: 1em;
    padding:1em;

}

#totDiv{
    font-weight: bold;

}

#subTotDiv, #totDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#total-heading {
    font-size: 1.5em;
    padding-bottom: 1em;
}

#sub-total-h, #total-h{
    padding-bottom: 0.5em;
}



#toCheckoutBut {
    padding: 1em;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    background-color: rgba(0,107,237,255);
    border-radius: 2px;
    color: white;
    width: 100%;
    margin-top: 2.5em;   
    margin-bottom: 1em; 
}

#toCheckoutBut:hover{
    background-color:#005ccc;
}

#coupon {
    flex: 1;
    padding: 1em;
    display: flex;
    flex-direction: row;
}

#promoInput{
    flex: 3;
    border: 1px solid black;
    outline: none;
}

#promoBut {
    flex: 1;
    cursor: pointer;
    color: white;
    background-color: rgba(0,107,237,255);
    border: none;
}

#promoBut:hover{
    background-color: #005ccc;
}

#promoInput, #promoBut {
    width: 100%;
    padding: 0.9em;
}

/* for each product shown */

.pImg {
    width: 100px;
    border: 1px black solid;
}

.each-prod, .each-prod-last{
    display: grid;
    grid-template-columns: 1fr 3fr 6fr 4fr 4fr;
    padding: 0.5em;
    margin: 1em;
    padding-bottom: 1.5em;
    
}

.each-prod {
    border-bottom: 1px rgb(196, 196, 196) solid;
}

.titlePrice {
    margin: auto 0;
    text-align: center;
    padding: 1em;
}

.pTitle {
    text-transform: capitalize;
    text-decoration: none;
    color: black;
}


.itemNumController {
    display: flex;
    flex-direction: row;
    height: fit-content;
    margin: auto 0;
    border: 0.2px solid #a8a8a8;
    margin-right: 0.5em;
    
}


.minusItem, .plusItem {
    flex: 1;
    font-size: 1.3vw;
    padding: 0.4em;
    text-align: center;
    background-color: #cccccc;
    cursor: pointer;
}


.minusItem:hover, .plusItem:hover{
    background-color: #a8a8a8;
}




.valueItem {
    flex: 1.4;
    text-align: center;
    font-size: 1.3vw;
    padding: 0.4em;
}

.deleteButContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 0.6em;
}


.deleteButton {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    height: fit-content;
    width: fit-content;
    font-size: 1.2em;
    font-weight: bold;
    
}



.pTotal {
    font-size: 1.4vw;
    height: fit-content;
    text-align: center;
    margin: auto 0;
}



#cart-info {
    padding-bottom: 3em;
}





/* Responsiveness */

@media screen and (max-width:1024px) {
    #cart-info {
        width: 80%;
    }
    .pTotal {
        font-size: 2vw;
    }

    #cartStatus {
       position: relative;
    }
}




@media screen and (max-width: 769px) {

    .pTotal {
        font-size: 3vw;
    }
    #cart-info {
        width: 90%;
    }

    .each-prod, .each-prod-last{
        display: flex;
        flex-direction: row; 
        align-items: center;
        padding: 1.5em 1em;
        margin: 0;        
    }

    .deleteButContainer {
        max-width: fit-content;
        
    }

    .deleteButton {
        font-weight:lighter;
        font-size: medium;
    }
    .titlePrice {
        min-width: 60%; 
        max-width: 60%;
        font-size: 2.8vw;  
        text-align: left;   
        padding: 0 1em;
        display: flex;
        align-items: center;
        overflow: hidden;
        height: fit-content;
        font-weight: 600;
    }

    

    .itemNumController {
        display: none;
    }
    
    .pImg {
        display: none;
    }

    .pPrice {
        display: none;
    }

    #cart-info {
        flex-direction: column;
        
    }

    
    #total-discount, #cart-items {
        flex: 1;
        margin: 0;
        overflow: hidden;
    }

    #cart-items {
        margin-bottom: 2em;
        padding: 0 1em;
    }
}
