body, pre {
    font-family: 'Varela Round', sans-serif;
}

#products {
    width: 50%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-column-gap: 3.5em;
    grid-row-gap: 6em;
    margin-top: 4em;
}

.workbook{
    font-size: 0.9vw;
    transition-duration: 0.3s;
    
}


.workbook:hover{
    transform: translateY(-10px);
}


.wbTitle {
    text-align: center;
    font-weight: 600;
    overflow: hidden;
    text-decoration: none;
    color: black;
}

.wbTitle:hover{
    cursor: pointer;
}

.wbPrice {
    text-align: center;
    font-size: 1em;
}

.productImg {
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin-bottom: 0.5em;
}



.productImg:hover {
    cursor: pointer;
}


.info-prod {
    margin-top: 1.2em;
    display: flex;
    flex-direction: row;
    height: 4em;
    margin-left: 0.3em;
}

.text-info {
    flex: 3;
    display: flex;
    align-items: center;
}

.add-cart-but {
    min-width: 6em;
    padding: 1em 1.6em;
    border-radius: 30px;
    color: white;
    text-align: center;
    background-color: red;
    z-index: 2;
    margin: auto;
    text-decoration: none;
    border: none;
    outline: none;
    letter-spacing: 0.2px;
}



.add-cart-but:hover {
    cursor: pointer;
    background-color: #e60000;
}
