#search {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#searchInput {
    padding: 0.5em;
    width: 250px;
    margin: 2px;
}


#searchBut {
    padding: 0.5em;
}


#sectionSelect, #gradeSelect {
    padding: 0.5em;
    
}




@media (max-width: 480px){
    #search {
        flex-direction: column;
        margin: 0.5em;
        width: 90%;
        background-color: pink;
    }

    #filter-selections{
        display: flex;
        flex-direction: row;

    }

    #searchSelect, #gradeSelect {
        flex: 1;   
    }

    #searchInput {
        margin: 0;
        
    }



    #filter-selections, #searchInput, #searchBut {
        width: inherit;
        
    }
}