.aWS {
    width: 50%;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    margin-bottom: 3em;
    
    
}

.aWS > img {
    width: 125px;
    height: 164px;
    object-fit:contain;
    border: 0.5px solid black;
}

.wsText {
    margin-left: 2em;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.wsText > h4 {
    margin-bottom: 0.5em;
}