doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        <link href='https://fonts.googleapis.com/css?family=Cardo:400,700|Oswald' rel='stylesheet' type='text/css'>
        <link rel="stylesheet", href="https://fonts.googleapis.com/css?family=Quicksand:300,500" type="text/css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Space+Mono&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        style
            include ../public/multipleC.css
        title Document
    body 
        h2#gameTitle + - * / Math Game
        h4#gameDescript Choose the Correct Answer for each Question! 
      
        //p &check;

        #optionsContainer  
            #heading-options 
                #optionsTitle Options
                button#closeOptions(onclick="closeOptions()") &times;
            
            #nav-options
                button#restartBut(onclick="closeEndGame()") Restart/New Game
                button.menu(onclick="goToMenu()") Menu

        #endGame 
            #heading-endGame
                #totScore  
                button#closeEndGame(onclick="doNothingEndGame()") &times;
                
            #earned
                p#batEarned You earned 1 battery &rarr;
                
                button#feedRobotBut Feed Robot
            #nav-endGame 
                button#playAgainBut(onclick="closeEndGame()") Play Again
                button.menu(onclick="goToMenu()") Menu
        
        #gameBox 

            #mainGame
                #mainMenu
                    #operationSelect
                        p Choose an Operation
                        #operations
                            button(onclick="showModeSelect('+')") Addition 
                            button(onclick="showModeSelect('-')") Subtraction 
                            button(onclick="showModeSelect('*')") Multiplication
                            button(onclick="showModeSelect('/')") Division 
                            

                    button#startGame(onclick="getOperation()") Play
                
                    #modeSelect 
                        p Choose a Mode
                        #modes
                            button(onclick="play('easy')") Easy 
                            button(onclick="play('medium')") Medium 
                            button(onclick="play('hard')") Hard


                

                #liveGame
                    <i id="menuIcon" class="fa fa-ellipsis-v" onclick="optionsMenu()"></i>
                    #question 
                    #choices
                        button#a1(onclick="checkAnswer(this.innerHTML, this.value)") 
                        button#a2(onclick="checkAnswer(this.innerHTML, this.value)") 
                        button#a3(onclick="checkAnswer(this.innerHTML, this.value)") 
                        button#a4(onclick="checkAnswer(this.innerHTML, this.value)")    
            #scoreBar
                #q1.unanswered
                #q2.unanswered
                #q3.unanswered
                #q4.unanswered
                #q5.unanswered
                #q6.unanswered
                #q7.unanswered
                #q8.unanswered
                #q9.unanswered
                #q10.unanswered 
    script 
        include ../public/multipleC.js
        

