doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        <link href='https://fonts.googleapis.com/css?family=Cardo:400,700|Oswald' rel='stylesheet' type='text/css'>
        <link rel="stylesheet", href="https://fonts.googleapis.com/css?family=Quicksand:300,500" type="text/css">
        style
            include ../public/multipleC.css
        title Document
    body 
        h2#gameTitle Addition
        h4#gameDescript Choose the Correct Answer for each Question! 
      
        p &check;
        
        #gameBox 
            #mainGame
                #question 
                #choices
            #scoreBar
                #one
                #two
                #three
                #four
                #five
                #six
                #seven
                #eight
                #nine
                #ten
        

